$link-color: #55a79a;

$background-body-color: #f0f0f0;
$background-body-auth-color: #ffffff;
$background-color: #ffffff;
$border-color: #f0f0f0;
$header-color: #343a40;

body {
  background-color: $background-body-color;
}

body.auth-body {
  background-color: $background-body-auth-color;
}

.auth-brand-logo {
  background-size: cover;
  background-image: url('../img/logoBlack.png');
}

.auth-brand-title {
  color: black;
}

.ant-layout-content,
.ant-layout-sider {
  background-color: $background-color !important;
  .ant-layout-sider {
    border-left: 1px solid $border-color !important;
  }
}

.ant-layout-header,
.ant-menu-submenu-popup {
  background-color: $header-color !important;
  color: $border-color !important;

  .ant-menu-item,
  .ant-menu-submenu {
    a,
    span {
      color: $background-color !important;
    }
  }
  .ant-menu-item-selected {
    background-color: $link-color !important;
    a,
    span {
      color: $background-color !important;
    }
  }
}

.ant-menu-dark {
  background-color: $header-color !important;
  .ant-menu-sub {
    background-color: $header-color !important;
  }
}

.ant-menu-item-selected {
  background-color: $header-color !important;
  a,
  span {
    color: $background-color !important;
  }
}

.image-gallery-svg {
  color: $link-color !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
  border-color: $link-color !important;
}
