### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log.*
*.log

# Cache
.cache
.sass-cache

# Sublime
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

# Pycharm
.idea/*

# C9
.c9

# Vim
*~
*.swp
*.swo

# Virtual environments
.env
.docker.env
env

# Client
build/
compose/ssl/*.key
compose/ssl/*.crt
node_modules/
coverage/
