$primary-color: #141414;
$link-color: #55a79a;

$menu-item-active-bg: $primary-color;
$menu-highlight-color: $link-color;

$background-body-color: #141414;
$background-body-auth-color: #141414;
$background-color: #141414;
$border-color: #303030;
$header-color: #141414;
$span-color: white;

body {
  background: $background-body-color;
}

body.auth-body {
  background: $background-body-auth-color;
}

.ant-layout-content,
.ant-layout-sider {
  background: $background-color !important;
  .ant-layout-sider {
    border-left: 1px solid $border-color;
  }
}

.ant-layout-header {
  background: $header-color !important;
  color: $span-color;
  .ant-menu {
    background-color: $header-color !important;
    color: $span-color;
    span,
    a,
    a:hover {
      color: $span-color;
    }
  }
}
