.Menu {
  padding-left: 150px !important;
}

.Brand {
  img {
    width: 31px;
    height: 31px;
    margin-top: -10px;
  }
  span {
    padding-left: 5px;
    font-size: 20px;
  }
  float: left;
}

.RightMenu {
  float: right;
}
