.logo {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.brand {
  margin-top: 70px;
  font-size: 50px;
}

.formAlert {
  margin-top: 50px;
}

.resetPasswordForm {
  margin-top: 50px;
}

.formBtn {
  width: 100%;
}

.signInLink {
  margin-top: 20px;
}
