.Calendar {
  margin: 20px !important;
}

.Events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Event {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 10px !important;
  span {
    font-size: 10px !important;
  }
}
