.SubContent {
  padding: 10px !important;
  background-color: white !important;
}

.RightSideBar {
  padding: 10px !important;
  min-width: 500px !important;
  background-color: white !important;
  border-left: 1px solid #f0f0f0;
}
