.Layout {
  padding: 25px !important;
}

.Sider {
  height: 100%;
}

.SubContent {
  padding: 10px !important;
}

.RightSideBar {
  padding: 10px !important;
  min-width: 300px !important;
}

.Tags {
  margin: 10px 25px;
}

.StickyFilter {
  position: -webkit-sticky !important; /* Safari */
  position: sticky !important;
  top: 0 !important;
}
