.selectLocale {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.brand {
  margin-top: 70px;
  font-size: 50px;
}

.ageIcon {
  width: 40px;
  margin-top: -5px;
}

.signInForm {
  margin-top: 50px;
}

.formBtn {
  width: 100%;
}

.resetPasswordLink {
  float: right;
}

.signUpLink {
  margin-top: 20px;
}
